/* CSS Document */
.raw_jj{
	width:11px;
	height:11px;
	display:block;
	background-repeat:no-repeat;
	margin:4px 10px 4px 6px;
}
.raw_jia{
	background-image:url(../images/dedeexplode.gif);
}
.raw_jian{
	background-image:url(../images/dedecontract.gif);
}
.tlt{
	padding:0 3px;
	display:inline-block;
}
.tlt:hover{
	color: #f60;
}
.tlt_con{
	padding:5px 0 0 0;
}
.t_input{
	width:25px;
	height:20px;
}
.t_ul{
	margin-top:5px;
	display:none;
}
.t_ul li{
	border-top:1px dotted #dedede;
	padding:5px 0 0 10px;
}
.tlt_con .fr,.t_ul li .fr{
	padding-right:20px;
}
.tlt_con .fr a,.t_ul li .fr a{
	padding:0 3px;
	display:inline-block;
}
.tlt_con .fr a:hover,.t_ul li .fr a:hover{
	color: #f60;
}