<?xml version="1.0" encoding="UTF-8"?>
<root>
    <name>手机端接口</name>
    <language>zh-cn|en-us</language>
    <author>Dream CMS</author>
    <contact>Dream CMS@***.com</contact>
    <desc>提供手机端数据接口</desc>
    <vhooks>        
        <vhook>
            <name>百度编辑器</name>
            <class>Vhook</class>
            <method>ueditor</method>
            <desc>百度编辑器</desc>
            <res>
                <js>ueditor.all.min.js,lang/zh-cn/zh-cn.js</js>
                <css></css>
            </res>
        </vhook>
    </vhooks>
    <site>
        <language></language>
        <operation>
            <name>百度编辑器</name>
            <class>Vhook</class>
            <method>ueditor</method>
            <desc>百度编辑器</desc>
        </operation>
    </site>
    <admin>
        <menus>
            <menu>
                <title>3</title>
                <group>3.3</group>
                <module>4</module>
                <action>4</action>
            </menu>
            <menu>
                <title>3</title>
                <group>3</group>
                <module>4</module>
                <action>4</action>
            </menu>
        </menus>
        <operation>
            
        </operation>
    </admin>
    

</root>
