<!DOCTYPE html>
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <form method="POST">
            <div>{:L('USERNAME')}:<input type='text' name='username' id='username' /></div>
            <div>{:L('ADDRESS')}:<input type='text' name='address' id='address' /></div>
            <div>{:L('CODE')}:<input type='text' name='code' id='code' /></div>
            <div>{:L('TELEPHONE')}:<input type='text' name='telephone' id='telephone' /></div>
            <div>{:L('FAX')}:<input type='text' name='fax' id='fax' /></div>
            <div>{:L('EMAIL')}:<input type='text' name='email' id='email' /></div>
            <div>{:L('MSN')}:<input type='text' name='msn' id='msn' /></div>
            <div>{:L('CONTENT')}:<textarea name="content" id='content'></textarea></div>
            <div><input type='submit' value="{:L('GUEST')}" /></div>
        </form>
    </body>
</html>
