<?xml version="1.0" encoding="UTF-8"?>
<root>
    <name>PLG_WEBUPLOAD_NAME</name>
    <author>Dream CMS</author>
    <contact>Dream CMS@***.com</contact>
    <desc>PLG_WEBUPLOAD_DESC</desc>
    <vhooks>
        <vhook>
            <name>PLUGIN_VHOOK_MULTIPICUPLOAD</name>
            <class>Vhook</class>
            <method>multiimgupload</method>
            <hookpos></hookpos>
            <res>
                <js>jquery.min.js,webuploader.min.js,upload.js</js>
                <css>webuploader.css,style.css</css>
            </res>
        </vhook>
        <vhook>
            <name>PLUGIN_VHOOK_MULTIFILEUPLOAD</name>
            <class>Vhook</class>
            <method>multifileupload</method>
            <hookpos></hookpos>
            <res>
                <js>jquery.min.js,webuploader.min.js,filesupload.js</js>
                <css>webuploader.css,style.css,bootstrap.min.css</css>
            </res>
        </vhook>
        <vhook>
            <name>PLUGIN_VHOOK_THUMBUPLOAD</name>
            <class>Vhook</class>
            <method>thumbupload</method>
            <hookpos></hookpos>
            <res>
                <js>jquery.min.js,webuploader.min.js,webuploader.min.js</js>
                <css>webuploader.css,style.css</css>
            </res>
        </vhook>
    </vhooks>
</root>
