<?xml version="1.0" encoding="UTF-8"?>
<root>
    <name>文件上传插件</name>
    <author>Dream CMS</author>
    <contact>Dream CMS@***.com</contact>
    <desc>文件上传插件</desc>
    <vhook>        
        <list>
            <name>多图片上传</name>
            <class>Vhook</class>
            <method>multiimgupload</method>
            <desc>多图片上传</desc>
        </list>
        <list>
            <name>多文件上传</name>
            <class>multifileupload</class>
            <method>Vhook</method>
            <desc>多文件上传</desc>
        </list>
    </vhook>

</root>
