<?xml version="1.0" encoding="UTF-8"?>
<root>
    <name>UEDITOR_NAME</name>
    <author>Dream CMS</author>
    <contact>Dream CMS@***.com</contact>
    <desc>UEditor 是一套开源的在线HTML编辑器,主要用于让用户在网站上获得所见即所得编辑效果</desc>
    <vhooks>        
        <vhook>
            <name>PLUGIN_UEDITOR_VHOOK_UEDITOR</name>
            <class>Vhook</class>
            <method>ueditor</method>
            <res>
                <js>ueditor.all.min.js,lang/zh-cn/zh-cn.js</js>
                <css></css>
            </res>
        </vhook>
    </vhooks>
    
</root>
